body {
  text-align: center;
}

button {
  cursor: grab;
}

.free_urinal {
  color: white;
  background-color: black;
}

footer {
  padding: 100px 0px;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.not_free_urinal {
  color: black;
  background-color: white;
}

.occupied_urinal {
  background-image: url("/images/OccupiedUrinal.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.empty_urinal {
  background-image: url("/images/EmptyUrinal.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bad_urinal {
  background-image: url("/images/BadUrinal.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.good_urinal {
  background-image: url("/images/GoodUrinal.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.urinals button {
  width: 50px;
  height: 100px;
  margin: 5px 5px;
}

#submit-button {
  font-size: 2rem;
  border-radius: 12px;
  padding: 5%;
  border-style: none;
  color: white;
  background-color: rgb(10, 65, 10);
}

form {
  font-size: 2rem;
  border-style: solid;
  padding: 10px;
}

form input {
  font-size: 2rem;
  width: 50px;
}
